*{
margin: 0;
padding: 0;
box-sizing: border-box;

} 
body{
    background-color: #26272b;    
  font-family: "Roboto", sans-serif;
}
.nav{
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 10px;
background-color: #26272b;  
position: fixed;
z-index: 100;
top:0;
width: 100%;
            
}
.navh1 h1{
    color:wheat;
    font-size: 26px;
    padding-left: 25px;
}
.nav li a{
    text-decoration: none;
    color: white;
    font-size: 22px;
}
.nav li{
display: inline-block;
margin: 20px; 
color: white;  
}
.bur{
display: none;
}


@media screen and (max-width:480px) {
.navh1 h1{
    font-size:20px;
    padding: 2px;
    font-style: italic;    
    color: #e1eaeb;
}
.nav{
    padding: 25px;
    display: block;
}
.nav li{
    display: block;
    text-align: center;
    padding: 10px;
    background-color: #5c5555;
    width: 440px;
    margin-left: -10px;
    

}
.nav li:hover{
    background-color: #d7d7d7;
}
.nav a:hover{
    color: black;
}
.bar{
    text-align: center;
}
.bur {
    cursor: pointer;
    color: white;
    position: absolute;
    top: 30px;
    left: 400px;
}
#showmenu{
display: none;
margin-left: 0px;
margin-top: 40px;


}
.bur{
    display: block;
}                  
}
            
.slider{
    width:100%;
    height:650px;
    overflow:hidden;   
}
.slides{
    width:500%;
    height:650px;
    display:flex;     

}
.slides input{
    display:none;

}
.slide{
    width:30%;
    transition:2s;
}
.slide img{
    width:100%;   
    aspect-ratio:16/9;
    filter:opacity(0.9);
    
}
.manual{
    position:absolute;
    width:800px;
    margin-top:-50px;
    margin-left: 390px;
    display:flex;
    justify-content:center;
}
.manuals{
    border:1px solid white; 
    padding:5px;
    border-radius:20px;
    transition:1s;
    cursor:pointer;
}
.manuals:not(:last-child){
    margin-right:10px;
}
.manuals:hover{
    background:red;
}
#radio1:checked ~ .first{
    margin-left:0;
}
#radio2:checked ~ .first{
    margin-left:-30%;
}
#radio3:checked ~ .first{
    margin-left:-60%;
}
#radio4:checked ~ .first{
    margin-left:-90%;
}
#radio5:checked ~ .first{
    margin-left:-120%;
}
.auto{
    position:absolute;
    width:800px;
    margin-top:600px;
    margin-left:390px;
    display:flex;
    justify-content:center;

}
.auto div{
    border:1px solid white;
    padding:5px;
    border-radius:20px;
    transition:1s;
}
.auto div:not(:last-child){
    margin-right:10px;
}
#radio1:checked ~ .auto .auto1{
    background:yellow;
}

#radio2:checked ~ .auto .auto2{
    background:yellow;
}

#radio3:checked ~ .auto .auto3{
    background:yellow;
}
#radio4:checked ~ .auto .auto4{
    background:yellow;
}
#radio5:checked ~ .auto .auto5{
    background:yellow;
}

@media screen and (max-width:480px){
.slider{
    width: 100%;
    height: 400px;
    position: relative;
}
.slides{
width: 500%;
height: 400px;
}
.slide img{
        width: 100%;
        height: 400px;
        filter: opacity(0.3);}

}
/* name */
.name{
    position:absolute;
    top:300px;
    left:400px;
    color:red;
    font-size:40px;
    z-index:1;
   
}
.name p{
    font-size:26px;
    text-align:center;
    margin-bottom:10px;
    margin-top:-20px;
    color:black;
}
.name a{
    text-decoration:none;
    background-color:#464f5e;
    color:white;
    font-size:20px;
    padding:10px;
    margin-left:350px;
    cursor:pointer;
    border-radius: 5px;
}
        
@media screen and (max-width:480px){
    .name{
    position:absolute;
    top:160px;
    left:40px;
    font-size:16px;
    z-index: 1;
    
    }
    .name h2{
        margin-bottom: 10px;
    }
    .name p{
        font-size: 18px;
        margin-bottom: 15px;
        color: white;
        
    }
    .name a{
        position: absolute;
        padding: 10px;
        font-size: 16px;
        margin-left: 135px;
        border-radius: 5px;        
    }
    .name a:hover{
        color: white;
        background-color: sienna;
    }
}
/*    */

/* Image slider End */

/* About part */
.about{
    display:flex;
    background-color:#26272b;
    width:100%;
    margin-top:100px;
}
.about1{
   text-align:center;
   padding:25px;
   width:40%;
   height:300px;
   margin-left:100px;
   margin-right:100px;
   background-color:white;
   border-radius:20px; 
   transition:0.5s linear ;
}
.about2{
    text-align:center;
    padding:30px;
    width:40%;
    height:300px;
    background-color:white;
    border-radius:20px;
    transition:0.5s linear ;
}
.about1, .about2 p{
    font-size:20px;
    line-height:40px;   
}
.about2:hover{
    box-shadow:0px 0px 40px brown;
    width:620px;
    height:310px;
}
.about1:hover{
    box-shadow:0px 0px 40px brown;
    width:620px;
    height:310px;
}
.abouth1 h1{
    text-align: center;
    margin-top: 40px;
    font-size: 60px;
    color: #d7d7d7;
    
}
@media screen and (max-width:480px){
    .abouth1 h1{
        font-size: 30px;
        margin-bottom: -30px;
    }
    .about{
        display: block;
        font-size: 10px;
    }

    .about1, .about2{
        width: 400px;
        height: 380px;
        margin-left: 10px;
    }
    .about1:hover{
        width: 410px;
        height: 390px;
        box-shadow: 0px 0px 15px brown;
    }
    .about2{
        margin-top: 20px;
        margin-bottom: -50px;
    }
    .about2:hover{
        width: 410px;
        height: 390px;
        box-shadow: 0px 0px 15px brown;
}
}

/* Service */

.service h1{
    text-align:center;
    color:#d7d7d7;
    font-size:50px;
    margin-top:100px;
}  
.service1{
    display:flex;
    flex-wrap:wrap;
}
.service3{
    width:350px;
    height:420px;
    border:2px solid white;
    margin:50px;
    margin-left:100px;
    text-align:center;
    background-color:white;
    border-radius:20px;
}
.service3 img{
    width:300px;
    height:200px;
    border-radius:10px;
    margin-top:10px;
    box-shadow:0px 0px 5px black;
    margin-bottom: 15px;
} 
.service3 b{
    font-size:29px;
    text-decoration: underline;
}

.service3 p{
    font-size: 20px;
    padding: 10px;
    line-height: 28px;
    word-spacing: 9px;
    font-weight: 400;
    }
@media screen and (max-width:480px){
    .service h1{
        font-size: 30px;
    }
    .service1{
        margin-left: -25px;
    }
    .service3{
        margin-bottom:-10px;
        
    }
}

/* Contact */
.contact{
    background-color:#26272b;
    height:300px;
    display:flex;
    margin-top:40px;
}
.contact1 ul{
    margin-left:100px;
    list-style-type:none;
}
.contact1 li{
    font-size:18px;
    padding:10px;
    COLOR:#737373;
    line-height:30px;
}
.contacth1 h1{
    text-align:center;
    color:#d7d7d7;
    font-size:30px;
    margin-top:100px;
}
.map{
    margin-left:120px;
}

@media screen and (max-width:480px){
    .contact{
        margin-left: -80px;
        display: flex;
        flex-wrap: wrap;
    }
    .map iframe{
        margin-top: 20px;
        margin-left: -15px;
        width: 400px;
        height:300px;
    }

}